body {
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
    margin-right: 20px;
}

.text_suojing {
    text-indent: 1em;
}

.image_width {
    width: 40px;
}

.text_huifu {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.profile .section {
    margin-top: 20px;
}

.community-menu {
    /*display: block;*/
    color: #999;
    margin-bottom: 15px;
}

.jumbotron {
    margin: 50px;
}

.media-body {
    padding-top: 8px;
}

.comment {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn {
    margin: 10px;
}

.comment-btn {
    float: right;
    margin-bottom: 10px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.question-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

.question-title {
    margin-top: 25px;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.QQ {
    width: 100px;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}
